In [ ]:
#Author: Aakriti Adhikari
#Date: 26/11/2018
#time taken: today's evening 
#I used python 3 with pandas library. Pandas is very useful library for data analysis.

In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv('payments_data.csv')
print(data.head())

    id                  created_at  user_id  amount
0  203  2018-01-06 06:43:30.871604      180       5
1  204   2018-01-06 12:41:02.04976      181      10
2  206  2018-01-07 02:37:02.998566      182       5
3  208  2018-01-07 08:26:30.552509      183      10
4  216  2018-01-08 21:02:20.798863      184       5

In [95]:

data.describe()

                id      user_id       amount
count  2824.000000  2824.000000  2824.000000
mean   1412.500000   417.133499     7.441572
std     815.362905   259.847761     2.499760
min       1.000000     3.000000     5.000000
25%     706.750000   191.750000     5.000000
50%    1412.500000   406.000000     5.000000
75%    2118.250000   611.000000    10.000000
max    2824.000000  1000.000000    10.000000

In [96]:

data['created_at'].min()

'2017-11-07 07:08:41.521829'

In [97]:

data.dtypes

id             int64
created_at    object
user_id        int64
amount         int64
dtype: object

In [98]:
data['created_at'].max()

'2018-11-06 21:13:51.558705'

In [99]:
import datetime as dt
NOW = dt.datetime(2018,11,7)
data['created_at'] = pd.to_datetime(data['created_at'])

In [100]:
rfmTable = data.groupby('user_id').agg({'created_at': lambda x: (NOW - x.max()).days, 'user_id': lambda x: len(x), 'amount': lambda x: x.sum()})
rfmTable['created_at'] = rfmTable['created_at'].astype(int)
rfmTable.rename(columns={'created_at': 'recency', 
                         'user_id': 'frequency', 
                         'amount': 'monetary_value'}, inplace=True)

In [101]:
rfmTable.head()

         recency  frequency  monetary_value
user_id
3            364          1              10
4            244          5              40
5            183          7              45
8            333          2              15
9            212          6              40

In [102]:
print(rfmTable)

         recency  frequency  monetary_value
user_id
3            364          1              10
4            244          5              40
5            183          7              45
8            333          2              15
9            212          6              40
10           121          9              55
11           270          4              30
12           301          3              25
14           241          5              45
15           119          9              65
16           147          8              50
17           359          1               5
18           208          6              40
19           178          7              50
20           298          3              15
21           146          8              60
22           297          3              15
23           357          1              10
24           237          5              35
25           237          5              35
26           296          3              30
27           356          1              10
28           175          7              55
30           113          9              75
31           355          1              10
32           325          2              15
33           294          3              15
34           293          3              20
35           261          4              35
36           353          1              10
...          ...        ...             ...
966           12          1              10
967           11          1              10
968           11          1              10
969           11          1               5
970           11          1               5
971           10          1              10
972           10          1               5
973           10          1               5
974           10          1              10
975           10          1               5
976           10          1              10
977            9          1               5
978            9          1              10
979            9          1               5
980            9          1              10
982            7          1               5
983            6          1               5
984            5          1               5
986            4          1              10
987            4          1              10
988            4          1               5
989            3          1               5
990            3          1              10
991            3          1              10
992            3          1              10
994            3          1               5
995            2          1              10
996            1          1              10
998            0          1               5
1000           0          1              10

[809 rows x 3 columns]

In [103]:
rfmTable1 = rfmTable.groupby('recency').agg({'recency': lambda x: len(x), 'monetary_value': lambda x: x.sum()})
rfmTable1.rename(columns={'recency': 'frequency', 
                         'amount': 'monetary_value'}, inplace=True)
print(rfmTable1)

         frequency  monetary_value
recency
0                7             200
1               10             315
2                7             195
3               15             405
4               12             295
5               14             405
6                5             135
7               11             425
8               12             390
9               16             625
10              12             340
11               7             105
12               5              75
13               9             305
14               8             305
15              14             415
16              15             435
17              11             265
18               8             360
19               3             145
20              16             490
21               7             205
22              10             235
23              11             275
24               7             225
25              13             405
26              12             415
27               7             175
28               9             285
29               6             230
...            ...             ...
301              2              45
304              1              10
305              1              10
307              2              25
308              1               5
311              1               5
313              2              25
314              2              15
315              1              20
316              1              15
318              3              15
319              1              20
320              3              35
322              2              25
325              1              15
327              1              10
333              1              15
335              1               5
338              1              10
342              1              10
343              1               5
347              2              15
348              1               5
349              1               5
353              2              15
355              1              10
356              1              10
357              1              10
359              1               5
364              1              10

[284 rows x 2 columns]

In [104]:
rfmTable1['cum_sum_user'] = rfmTable1.frequency.cumsum()
rfmTable1['cum_sum'] = rfmTable1.monetary_value.cumsum()
rfmTable1

         frequency  monetary_value  cum_sum_user  cum_sum
recency
0                7             200             7      200
1               10             315            17      515
2                7             195            24      710
3               15             405            39     1115
4               12             295            51     1410
5               14             405            65     1815
6                5             135            70     1950
7               11             425            81     2375
8               12             390            93     2765
9               16             625           109     3390
10              12             340           121     3730
11               7             105           128     3835
12               5              75           133     3910
13               9             305           142     4215
14               8             305           150     4520
15              14             415           164     4935
16              15             435           179     5370
17              11             265           190     5635
18               8             360           198     5995
19               3             145           201     6140
20              16             490           217     6630
21               7             205           224     6835
22              10             235           234     7070
23              11             275           245     7345
24               7             225           252     7570
25              13             405           265     7975
26              12             415           277     8390
27               7             175           284     8565
28               9             285           293     8850
29               6             230           299     9080
...            ...             ...           ...      ...
301              2              45           770    20635
304              1              10           771    20645
305              1              10           772    20655
307              2              25           774    20680
308              1               5           775    20685
311              1               5           776    20690
313              2              25           778    20715
314              2              15           780    20730
315              1              20           781    20750
316              1              15           782    20765
318              3              15           785    20780
319              1              20           786    20800
320              3              35           789    20835
322              2              25           791    20860
325              1              15           792    20875
327              1              10           793    20885
333              1              15           794    20900
335              1               5           795    20905
338              1              10           796    20915
342              1              10           797    20925
343              1               5           798    20930
347              2              15           800    20945
348              1               5           801    20950
349              1               5           802    20955
353              2              15           804    20970
355              1              10           805    20980
356              1              10           806    20990
357              1              10           807    21000
359              1               5           808    21005
364              1              10           809    21015

[284 rows x 4 columns]

In [105]:
rfmTable1['ARPC'] = rfmTable1['cum_sum']/rfmTable1['cum_sum_user']
rfmTable1

         frequency  monetary_value  cum_sum_user  cum_sum       ARPC
recency
0                7             200             7      200  28.571429
1               10             315            17      515  30.294118
2                7             195            24      710  29.583333
3               15             405            39     1115  28.589744
4               12             295            51     1410  27.647059
5               14             405            65     1815  27.923077
6                5             135            70     1950  27.857143
7               11             425            81     2375  29.320988
8               12             390            93     2765  29.731183
9               16             625           109     3390  31.100917
10              12             340           121     3730  30.826446
11               7             105           128     3835  29.960938
12               5              75           133     3910  29.398496
13               9             305           142     4215  29.683099
14               8             305           150     4520  30.133333
15              14             415           164     4935  30.091463
16              15             435           179     5370  30.000000
17              11             265           190     5635  29.657895
18               8             360           198     5995  30.277778
19               3             145           201     6140  30.547264
20              16             490           217     6630  30.552995
21               7             205           224     6835  30.513393
22              10             235           234     7070  30.213675
23              11             275           245     7345  29.979592
24               7             225           252     7570  30.039683
25              13             405           265     7975  30.094340
26              12             415           277     8390  30.288809
27               7             175           284     8565  30.158451
28               9             285           293     8850  30.204778
29               6             230           299     9080  30.367893
...            ...             ...           ...      ...        ...
301              2              45           770    20635  26.798701
304              1              10           771    20645  26.776913
305              1              10           772    20655  26.755181
307              2              25           774    20680  26.718346
308              1               5           775    20685  26.690323
311              1               5           776    20690  26.662371
313              2              25           778    20715  26.625964
314              2              15           780    20730  26.576923
315              1              20           781    20750  26.568502
316              1              15           782    20765  26.553708
318              3              15           785    20780  26.471338
319              1              20           786    20800  26.463104
320              3              35           789    20835  26.406844
322              2              25           791    20860  26.371681
325              1              15           792    20875  26.357323
327              1              10           793    20885  26.336696
333              1              15           794    20900  26.322418
335              1               5           795    20905  26.295597
338              1              10           796    20915  26.275126
342              1              10           797    20925  26.254705
343              1               5           798    20930  26.228070
347              2              15           800    20945  26.181250
348              1               5           801    20950  26.154806
349              1               5           802    20955  26.128429
353              2              15           804    20970  26.082090
355              1              10           805    20980  26.062112
356              1              10           806    20990  26.042184
357              1              10           807    21000  26.022305
359              1               5           808    21005  25.996287
364              1              10           809    21015  25.976514

[284 rows x 5 columns]

In [106]:
prediction_df = pd.DataFrame(columns= ['ARPC'],
                             data= rfmTable1['ARPC'])
pre=prediction_df.to_csv('ARPC.csv')